$background_btn: #098044;
$background_body: #036123;
$background_history: #043b04;
$background_content: #07803d ;
$text_color: #000;
$start_color: #FFFF00;
$transition: all 0.8s;
$label_color: #2196f3;
$color_white: #fff;
$color_green: #0aad0a;
$color_black: #000;
$color_red: #be1111;
$color_blue: #4ea507;
