doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Heineken
        link(rel="stylesheet", href="./sass/css/style.css")
        link(rel="stylesheet", href="./reset.css")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css' integrity='sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==' crossorigin='anonymous' referrerpolicy='no-referrer')
    body
        .container
            header
                .navbar
                    
                    nav.navbar__list
                        ul
                            li
                                a(href="#") Heineken   
                            li
                                a(href="#") Câu chuyện Heineken  
                            li
                                a(href="#") Sản phẩm của chúng tôi 
                            li
                                a(href="#") Thưởng thức Heineken có trách nhiệm
                            li
                                a(href="#") Tài trợ
                            li
                                a(href="#") Chiến dịch               
            .containers__slider 
                main.slider__info 
                    .slider__info--head 
                        h6 Câu chuyện Heineken 
                        h4
                            em Chào mừng 
                            | Bạn đến Thế Giới của Heineken
                        .head-button 
                            .btn Tìm hiểu thêm 
                section.most__heineken
                    h2 Câu chuyện của Heineken 
                    .heineken__item 
                        .item-box
                            img(src="./image/heineken1.jpg" alt='lịch sử heineken')
                        .item-box
                            img(src="./image/heineken2.jpg" alt='bia heineken')
                        .item-box
                            img(src="./image/heineken2.jpg" alt='bia heineken')
                        .item-box
                            img(src="./image/heineken2.jpg" alt='bia heineken')
                        .item-box
                            img(src="./image/heineken2.jpg" alt='bia heineken')
                        .item-box
                            img(src="./image/heineken3.jpg" alt='bật nắp heineken')
                article.heineken__drinks 
                    .heineken__list--category
                        .drinks__item
                            img(src="./image/no-heineken.jpg", alt="service02")
                            h2 Đã uống rượu bia - Không lái xe
                            p Thưởng thức có trách nhiệm luôn là ưu tiên hàng đầu của chúng tôi. Có hai cách khác nhau để đạt được điều này.         
                    .heineken__list--category
                        .drinks__item
                            img(src="./image/no-heineken.jpg", alt="service02")
                            h2 Đã uống rượu bia - Không lái xe
                            p Thưởng thức có trách nhiệm luôn là ưu tiên hàng đầu của chúng tôi. Có hai cách khác nhau để đạt được điều này.    
                    .heineken__list--category
                        .drinks__item
                            img(src="./image/no-heineken.jpg", alt="service02")
                            h2 Đã uống rượu bia - Không lái xe
                            p Thưởng thức có trách nhiệm luôn là ưu tiên hàng đầu của chúng tôi. Có hai cách khác nhau để đạt được điều này.    
                article.heineken__drinks 
                    .heineken__list--category
                        .drinks__item
                            img(src="./image/no-heineken.jpg", alt="service02")
                            h2 Đã uống rượu bia - Không lái xe
                            p Thưởng thức có trách nhiệm luôn là ưu tiên hàng đầu của chúng tôi. Có hai cách khác nhau để đạt được điều này.         
                    .heineken__list--category
                        .drinks__item
                            img(src="./image/no-heineken.jpg", alt="service02")
                            h2 Đã uống rượu bia - Không lái xe
                            p Thưởng thức có trách nhiệm luôn là ưu tiên hàng đầu của chúng tôi. Có hai cách khác nhau để đạt được điều này.    
                    .heineken__list--category
                        .drinks__item
                            img(src="./image/no-heineken.jpg", alt="service02")
                            h2 Đã uống rượu bia - Không lái xe
                            p Thưởng thức có trách nhiệm luôn là ưu tiên hàng đầu của chúng tôi. Có hai cách khác nhau để đạt được điều này.    
            footer
                p.copyright
                    | Heineken -
                    a(href='')  Merci 

             
        


                        
                    


                            
            

                    

                
